/*
/**/build
/**/out
/**/%SystemDrive%
!/.run
!/calculator
!/clipper
!/examples
!/grid-to-point-converter
!/image-exporter
!/importer
!/normalizer
!/package
!/sanitizer
!/time-shifter
!/transposer
!/vortex-api
!/vortex-ui
!/gradle
!.gitattributes
!.gitignore
!build.gradle.kts
!gradlew
!gradlew.bat
!gradle.properties
!CONTRIBUTORS.md
!CONTRIBUTING.md
!INTENT.md
!LICENSE.md
!README.md
!settings.gradle